/* Global styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #fff;
  
}

a {
  color: #d5ff3f;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  color: #fff;
}

.container {
  width: 90%;
  margin: 0 auto;
}

hr {
  border: none; /* Removes default border */
  height: 4px; /* Sets the height of the line */
  background-color: #000; /* Sets the color to dark black */
  margin: 20px 0; /* Adds spacing above and below the line */
}

/* Additional styles for specific elements can be added as needed */
