.logo{
  font-size: 30px;
  font-weight: 500px;
}
.oneLine{
  display: flex;
  flex-direction: row;

}
.UniversalBtn{
  border-radius: 20px;
  height: 30px;
  width: 80px;
  margin-top: auto;
  margin-bottom: auto;
  background-color: transparent;
}


.box {
  background-color: green;
  position: relative;
  /* Set box height to create a square shape */
  border-radius: 20px;
  overflow: hidden; /* Hides overflow content */
}

.teamImg {
  width: 100%;
  height: 90vh;
 float: right;
}

.menuBtn {
  position: absolute;
  top: 0px; /* Adjust distance from top */
  right: 0px; /* Adjust distance from right */
  border: none;
  border-radius: 0px 20px 0px 20px; 
  background-color: transparent;
  padding: 5px 10px;
  cursor: pointer;
  color: #000;
  z-index: 1; 
  background-color: white;
}


.heading {
  background-color: white; /* Sets background color of heading box */
 /* Adds rounded corners to the heading box */
 padding: 30px;
}

.verticalText {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 100px;
  margin: 0;
  padding: 0;
   /* Adjust line height to properly space the text */
  writing-mode: vertical-rl; /* Vertical writing from right to left */
  text-orientation: revert; /* Ensures text is upright */
  white-space: nowrap; /* Prevents text from wrapping */

}

.greenContainer {
z-index: 1;
border-radius: 50px;
  background-color: #d5ff3f; /* Sets background color of small containers */
/* Adds margin around small containers */
  border-radius: 5px; /* Adds rounded corners to small containers */
}

.smallContainer {
  flex: 1; /* Allows small containers to grow and fill the remaining space */
}

.smallContainer{
  background-color: black;
  border-radius: 10px;
  height: 50px;
  width: 150px;
  color: white;
  font-size: 40px;
  font-weight: 600;
  margin: 10px;
  padding: 10px;
}

.homeSection {
    background-color: #f7f7f7;
    padding: 100px 0;
    text-align: center;
  }
  
  .homeSection h1 {
    font-size: 3rem;
    color: #333;
    margin-bottom: 20px;
  }
  
  .homeSection p {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 40px;
  }
  
  .homeSection .ctaButton {
    background-color: #ff6f61;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .homeSection .cta-button:hover {
    background-color: #e96053;
  }